<!-- html/templates/footer.html -->
<div class="footer-top">
    <div class="container">
        <!-- Cột 1: Thông tin liên hệ & Follow -->
        <div class="footer-col">
            <h3>Thông tin liên hệ</h3>
            <p>669 Đỗ Mười, Thủ Đức, TP Hồ Chí Minh</p>
            <p>tanivan@ticket.com</p>
            <p>0123456789</p>
            <h3 class="follow-us-title">Follow us</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/uel.edu.vn" target="_blank"><img src="../../images/common/icon-facebook.jpg" alt="Facebook"/></a>
                <a href="https://www.instagram.com/uel_vnuhcm/" target="_blank"><img src="../../images/common/icon-instagram.jpg" alt="Instagram"/></a>
                <a href="https://www.tiktok.com/@uel.official" target="_blank"><img src="../../images/common/icon-tiktok.jpg" alt="TikTok"/></a>
            </div>
        </div>
        <!-- Cột 2: Dành cho Ban Tổ chức -->
        <div class="footer-col">
            <h3>Dành cho Ban Tổ chức</h3>
            <a href="#" class="footer-link">Điều khoản sử dụng cho ban tổ chức</a>
            <p class="app-download-title" style="color:aliceblue">Ứng dụng check-in cho BTC</p>
            <div class="app-stores">
                <a href="https://www.apple.com/vn/app-store/" target="_blank"><img src="../../images/common/app-store.png" alt="Download on the App Store"></a>
                <a href="https://play.google.com/store/games?hl=vi&pli=1" target="_blank"><img src="../../images/common/google-play.png" alt="Get it on Google Play"></a>
            </div>
        </div>
        <!-- Cột 3: Dành cho Khách hàng -->
        <div class="footer-col">
            <h3>Dành cho Khách hàng</h3>
            <a href="#" class="footer-link">Điều khoản sử dụng cho khách hàng</a>
            <p class="app-download-title" style="color:aliceblue">Ứng dụng Tanivan Ticket</p>
             <div class="app-stores">
                <a href="https://www.apple.com/vn/app-store/" target="_blank"><img src="../../images/common/app-store.png" alt="Download on the App Store"></a>
                <a href="https://play.google.com/store/games?hl=vi&pli=1" target="_blank"><img src="../../images/common/google-play.png" alt="Get it on Google Play"></a>
            </div>
        </div>
        <!-- Cột 4: Về công ty chúng tôi -->
        <div class="footer-col">
            <h3>Về công ty chúng tôi</h3>
            <a href="#" class="footer-link">Quy chế hoạt động</a></br>
            <a href="#" class="footer-link">Chính sách bảo mật thông tin</a></br>
            <a href="#" class="footer-link">Cơ chế giải quyết tranh chấp/ khiếu nại</a></br>
            <a href="#" class="footer-link">Chính sách bảo mật thanh toán</a></br>
            <a href="#" class="footer-link">Chính sách đổi trả và kiểm hàng</a></br>
            <a href="#" class="footer-link">Phương thức thanh toán</a></br>
            <a href="#" class="footer-link">Điều kiện vận chuyển và giao nhận</a>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="footer-bottom-left">
             <img src="../../images/common/logo.png" alt="Tanivan Ticket Logo" class="footer-logo">
             <div class="footer-tagline">
                 <p>Nền tảng quản lý và phân phối vé sự kiện hàng đầu Việt Nam</p>
                 <span>Since 2025</span>
             </div>
        </div>
        <div class="footer-bottom-right">
            <img src="../../images/common/da-dang-ky.png" alt="Đã đăng ký Bộ Công Thương" class="bct-logo">
        </div>
    </div>
</div>