<!-- Đây là nội dung của file html/templates/signup.html -->
<div class="auth-modal-content">
    <button class="close-modal-btn">&times;</button>
    <div class="auth-modal-header">
        <img src="../../images/common/logo.png" alt="Tanivan Ticket" class="auth-logo">
        <img src="../../images/common/cat-peeking.png" alt="Cute Cat" class="cat-peeking">
    </div>
    
    <div class="auth-form">
        <div class="input-wrapper">
            <input type="email" placeholder="Nhập email của bạn">
        </div>
        <div class="input-wrapper password-wrapper">
            <input type="password" placeholder="Nhập mật khẩu" class="password-input">
            <img src="../../images/common/icon-eye-open.png" alt="Toggle Password" class="password-toggle-icon">
        </div>
        <div class="input-wrapper password-wrapper">
            <input type="password" placeholder="Nhập lại mật khẩu" class="password-input">
            <img src="../../images/common/icon-eye-closed.png" alt="Toggle Password" class="password-toggle-icon">
        </div>
        <p class="auth-switch">Đã có tài khoản? <a href="#" data-modal="login">Đăng nhập ngay</a></p>
        <button class="btn-auth btn-primary">Tiếp tục</button>
    </div>
</div>